target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### IDEs & Editors ###
.idea/
*.iml
*.iws
*.ipr
.vscode/
.project
.classpath
.settings/

### OS & Temporary Files ###
.DS_Store
Thumbs.db
*.log

